.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
 
  .label {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
  }
  .btn {
    align-self: center;
    background-color: #fff;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    outline: none;
    text-decoration: none;

  }