.list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .btn {
    align-self: center;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    outline: none;
    text-decoration: none;

  }
  